.item {
	display: flex;
	flex-direction: column;
	gap: 22px;
	width: 353px;
	height: 411px;
	padding: 30px 20px;
	background-color: var(--neutrals-0);

	border-radius: 10px;
	box-shadow: 0px 4px 16px 0px rgba(37, 50, 75, 0.15);
}

.headContainer {
	display: flex;
	gap: 22px;
}

.avatarThumb {
	width: 72px;
	height: 72px;
	border-radius: 50%;
	overflow: hidden;
}

.clientInfo {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.clientName {
	color: var(--neutrals-100);
	font-family: var(--font-family-secondary);
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 1;
}

.clientCity {
	color: var(--brands-primary);
	font-family: var(--font-family-secondary);
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.date {
	color: var(--neutrals-60);
	font-family: var(--font-family-secondary);
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.reviewWrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.reviewText {
	color: var(--neutrals-100);
}

.ratingList {
	display: flex;
	gap: 3px;
}

.ratingItem {
	display: flex;
	justify-content: center;
	align-items: center;
}

.starIcon {
	width: 17px;
	height: 17px;
	fill: var(--brands-primary);
}
