.headerLogo {
	width: 187px;
	height: 47px;
	margin-top: 15px;
	margin-right: 48px;
}

.footerLogo {
	width: 160px;
	height: 29px;
}

@media screen and (max-width: 768px) {
	.headerLogo {
		margin-right: 0;
	}
}
