.list {
	display: flex;
	flex-wrap: wrap;
	gap: 32px;
}

.item {
	display: flex;
	align-items: center;
	gap: 16px;
}

.iconThumb {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	background-color: var(--neutrals-0);
	border-radius: 50%;
}

.itemSvg {
	width: 24px;
	height: 24px;
	fill: transparent;
	stroke: var(--accents-blue);
}

.title {
	color: var(--neutrals-80);
}

.value {
	color: var(--neutrals-100);
	font-weight: 600;
}

@media screen and (max-width: 845px) {
	.list {
		justify-content: space-evenly;
		gap: 16px;
		width: 100%;
	}
}

@media screen and (max-width: 534px) {
	.item {
		width: calc((100% - 16px) / 2);
	}

	.list {
		justify-content: start;
	}
}
