.list {
	display: flex;
	gap: 32px;
}

.item {
	display: flex;
	align-items: center;
	gap: 16px;
}

.iconThumb {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	background-color: var(--neutrals-0);
	border-radius: 50%;
}

.itemSvg {
	width: 24px;
	height: 24px;
	fill: transparent;
	stroke: var(--accents-blue);
}

.title {
	color: var(--neutrals-80);
}

.value {
	color: var(--neutrals-100);
	font-weight: 600;
}
