.list {
	display: flex;
	gap: 32px;
}

.item {
}

.link {
	display: flex;
	align-items: center;
	gap: 4px;
}

.text {
	color: var(--brands-primary);
	font-weight: 600;
}

.contactIcon {
	width: 24px;
	height: 24px;
}
