.section {
	background-color: var(--neutrals-10i);
	background-image: url(../../assets/images/bg-hero-min.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.wrapper {
	padding-top: 40px;
	padding-bottom: 73px;
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.bottomContainer {
	display: flex;
	gap: 24px;
}

.secondColumn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 24px;
}

.contactsBox {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

@media screen and (max-width: 845px) {
	.bottomContainer {
		flex-wrap: wrap;
		justify-content: center;
	}

	.secondColumn {
		align-items: center;
	}
}
