@import 'modern-normalize/modern-normalize.css';

:root {
	color-scheme: light;
	color: var(--neutrals-60);
	background-color: var(--neutrals-0);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--font-family-base: 'Rubik', sans-serif;
	--font-family-additional: 'Lato', sans-serif;
	--font-family-secondary: 'Roboto', sans-serif;

	--font-size-base: 16px;
	--font-weight-base: 400;
	--line-height-base: 1.6;
	--transition-base: all 0.5s ease;

	--neutrals-0: #fff;
	--neutrals-10i: #f8f8fd;
	--neutrals-20: #d6ddeb;
	--neutrals-40: #a8adb7;
	--neutrals-60: #7c8493;
	--neutrals-80: #515b6f;
	--neutrals-100: #25324b;

	--brands-primary: #4640de;
	--brands-secondary: #ccccf5;
	--accents-blue: #26a4ff;
	--footer-bg: #202430;
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	font-family: var(--font-family-base);
	font-size: var(--font-size-base);
	font-weight: var(--font-weight-base);
	line-height: var(--line-height-base);
	font-optical-sizing: auto;
	font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	font-optical-sizing: inherit;
	margin: 0;
}

p:last-child {
	margin-bottom: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	font-optical-sizing: inherit;
	color: currentColor;
	text-decoration: none;
	padding: 0;
	margin: 0;
}

button {
	cursor: pointer;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	font-optical-sizing: inherit;
	font-display: inherit;
	transition: var(--transition-base);
}

img {
	display: block;
	width: 100%;
	height: auto;
	padding: 0;
	object-fit: cover;
}

.container {
	padding: 0 50px;
	max-width: 1292px;
	margin: 0 auto;
}

@media screen and (max-width: 768px) {
	.container {
		padding: 0 30px;
	}
}

@media screen and (max-width: 425px) {
	.container {
		padding: 0 15px;
	}
}

/* Calendar */

.react-calendar {
	border: none !important;
	position: relative;
}

.react-calendar__tile {
	padding: 5px !important;
	font-size: 16px !important;
	border-radius: 50%;

	color: var(--neutrals-100) !important;
	text-align: center !important;
	font-family: var(--font-family-base) !important;
	font-size: 16px !important;
	font-style: normal;
	font-weight: 500 !important;
	line-height: 1.6 !important;
}

.react-calendar__tile:hover {
	background-color: var(--accents-blue);
}

.react-calendar__tile--active {
	background-color: var(--brands-primary) !important;
	color: var(--neutrals-0) !important;
	width: 32px !important;
}

.react-calendar__tile--now {
	background: var(--brands-primary) !important;
	color: var(--neutrals-0) !important;
}

.react-calendar__navigation__label {
	font-family: var(--font-family-base);
	font-size: 14px;
}

.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
	display: none;
}

.react-calendar__navigation__prev-button {
	position: absolute;
	top: 10px;
	right: 44px;
	width: 24px;
	height: 24px;
	font-size: 24px;
	color: var(--brands-primary);
}

.react-calendar__navigation__next-button {
	position: absolute;
	top: 10px;
	right: 12px;
	width: 24px;
	height: 24px;
	font-size: 24px;
	color: var(--brands-primary);
}

.react-calendar__navigation__label {
	padding-top: 2px;
	text-align: left;
	flex-grow: 1;
	color: var(--neutrals-100) !important;
	font-family: var(--font-family-base) !important;
	font-size: var(--font-size-base) !important;
	font-weight: 700 !important;
	line-height: var(--line-height-base) !important;
	text-transform: uppercase;
}

.react-calendar__navigation {
	margin-bottom: 10px !important;
}
